<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://unit51076.oracleads.com:9704/dv/ui/api/v1/plugins/embedding/standalone/embedding.js" type="javascript">
    </script>
  </head>
  <body>
    <h1>Testing iframe</h1>
    <oracle-dv project-path="/users/cloud.user/DOJ"></oracle-dv>
    <iframe src="https://129.213.85.208:9704/dv/ui/project.jsp?pageid=visualAnalyzer&reportmode=full&reportpath=%2Fusers%2Fcloud.user%2FCART%20Training%20-%20Heart%20Disease%20Likelyhood" width="" height=""></iframe>
    <!-- <iframe src="http://unit51076.oracleads.com:9704/dv/ui/project.jsp?pageid=visualAnalyzer&reportmode=full&reportpath=%2Fusers%2Fcloud.user%2FDOJ%20Demo" width="" height=""></iframe> -->
  </body>
</html>
