<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    

  </head>
  <body>
    <iframe src="https://ucf4-obi0321-gse.oracledemos.com/analytics/saw.dll?Dashboard&PortalPath=%2Fshared%2FAnalytics%20Library%2F_portal%2FDOJ%20Protoype&page=page%201&NQUser=cloud.user&NQPassword=Admin123" width="50%" height="400"></iframe>
    <iframe src="https://ucf4-obi0321-gse.oracledemos.com/dv/ui/project.jsp?pageid=visualAnalyzer&reportmode=presentation&reportpath=%2Fusers%2Fcloud.user%2FDOJ-Prototype&active-page=canvas&active-tab-id=1" width="50%" height="500"></iframe>
    <iframe src="https://ucf4-obi0321-gse.oracledemos.com/dv/ui/project.jsp?pageid=visualAnalyzer&reportmode=full&reportpath=%2Fusers%2Fcloud.user%2FJim%27s%20test" width="50%" height="400"></iframe>
  </body>
</html>
<!-- https://a858-anltw.nyc.gov/analytics/saw.dll?Dashboard&PortalPath=/shared/NYC311%20OTW/_Portal/CPR%20OTW&Page=Critical%20Indicator%20Summary&NQUser=aye485xAWZp&NQPassword=ksTT3caK2a2z&Syndicate=Siebel -->


<!-- 1. In file included from /Users/walidnasim/Documents/DevProjects/reactMobileProject/ios_WorldBank/mobileWorldBank/node_modules/react-native/Libraries/Image/RCTImageEditingManager.m:19: -->
