<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <iframe src="https://ucf4-obi0321-gse.oracledemos.com/dv/ui/project.jsp?pageid=visualAnalyzer&reportmode=full&reportpath=%2Fusers%2Fcloud.user%2FJim%27s%20test" width="100%" height="400"></iframe>
    <iframe src="https://ucf4-obi0321-gse.oracledemos.com/dv/ui/project.jsp?pageid=visualAnalyzer&reportmode=presentation&reportpath=%2Fusers%2Fcloud.user%2FDOJ&nqsuser=cloud.user&nqspassword=Admin123" width="400%" height="400"></iframe>
  </body>
</html>
