<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/pay" method="post">
      Name: <input type="number" name="price" value="">
      <input type="submit" name="" value="Buy">
    </form>
  </body>
</html>
