<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/test" method="get">
      Price: <input type="number" name="price" value="">
      Hit this Button to test the '/test' route<input type="submit" name="" value="Buy">
    </form>
    <form class="" action="/pay" method="POST">
      Price: <input type="number" name="price" value="">
      Hit this Button to test the '/pay' route<input type="submit" name="" value="Buy">
    </form>
    <!-- <form class="" action="https://restaurant-bott.herokuapp.com/proxy" method="POST">
      Price: <input type="number" name="price" value="">
      Hit this Button to make a POST call to the vb proxy<input type="submit" name="" value="MAKING POST CALL">
    </form> -->
  </body>
</html>
